# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo
dist/
build/

# Playwright
playwright-report/

#test_results
test_results/

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db
